/* ============ AddForm ============ */

#timesheet-newproject-name, #timesheet-newproject-description {
	width: 300px;
}


/* ============ Table Modifiers ============ */

/* Top Project Name */
.timesheet-topproject-name{
	font-weight: bold;
	text-align:left;
}