#hello {
	color: red;
}

/* ============ Adjust Nextcloud Style ============ */
/* Resize Main Box from Nextcloud */
#app-content-wrapper {
	width: 100%;
	display:block;
}

#app {
	width: 100%;
}

/* Dialogs on top! */ 
.ui-dialog { z-index: 1000 !important ;}

/* ============ Content Alignment ============ */
#timesheet-content {
	
	/* fit parent size */
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
	margin-right: 10px;
	width: 100%;
		 
	display: flex;
	flex-direction: column;
	background-color: #8A2BE2;
	
	  
}

#timesheet-header {
	width: 100%;
	height: 65px;
	
    padding: 5px 20px 5px 20px;
	  
	background-color: #FF7F50;
}

/* Top New Record Bar */
#timesheet-newrecord {
	
    height: 95px;

    padding: 10px 20px 10px 20px;	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	
	background-color: #BDB76B;
}

/* Center Record Table */
#timesheet-record-table
{
	width: 100%;
	min-height: 100px;
    padding: 5px 20px 5px 20px;

	background-color: #228B22;
}

/* ============ timesheet-newrecord-bar ============ */

.timesheet-newrecord-itembox {
	background-color: #7FFF00;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 5px;
	margin-right: 5px;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;	
}

.timesheet-newrecord-entrybox {
	text-align: center;	
}


/* ============ timesheet-record-table header ============ */

/* Table Header */
#timesheet-record-table-header {
	height: 35px;
			
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	background-color: #FFF8DC;		
}

.timesheet-record-table-header-cell {
	margin: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;	

	background-color: #00FFFF;	
}

/* ============ timesheet-record-table rows ============ */


/* Row Settings */
.timesheet-record-table-row {
	height: 35px;

    padding: 10px 20px 10px 20px;
	margin-top: 5px;
	margin-bottom: 5px;	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	
	background-color: #E0FFFF;
}

.timesheet-record-table-row:hover {
	background-color: #FFB6C1;
}

/* Cell Settings */
.timesheet-record-table-row-cell {
	background-color: #FAFAD2;
	padding-left: 2px;
	padding-right: 2px;
	margin-left: 2px;
	margin-right: 2px;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;	
}

/* ============ Dialog Content ============ */
#dialog-modify-record {
	text-align: center;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;	
	
}