/* ============ AddForm ============ */

#timesheet-newrecord-description {
	width: 300px;
}

#timesheet-newrecord-breaktime::-webkit-datetime-edit-ampm-field {
   display: none;
 }
	
/* ============ BarChart ============ */

#timesheet-record-recordgraph-chart {
	display: inline-block;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 20px;
	height: 300px;
	
}

/* ============ Summary ============ */

/* Day Header Date */
#timesheet-record-table-summary-leftfiller {
	margin: 5px;
	width: 435px;
	font-weight: bold;
	text-align:left;
}

/* Day Header Working hours */
#timesheet-record-summary-workinghours {
	margin: 5px;
	width: 85px;
	font-weight: bold;	
}

#timesheet-record-summary-monthlyovertime {
	margin: 5px;
	width: 50px;
	font-weight: bold;
}

#timesheet-record-summary-totalovertime {
	margin: 5px;
	width: 150px;
	font-weight: bold;
}

/* ============ Table Modifiers ============ */

/* Day Header Date */
.timesheet-report-day-header-date {
	margin: 5px;
	width: 430px;
	font-weight: bold;
	text-align:left;
}

/* Day Header Working hours */
.timesheet-report-day-header-workinghours{
	margin: 5px;
	width: 100px;
	font-weight: bold;	
}

/* Day Header Overtime */
.timesheet-report-day-header-overtime {
	margin: 5px;
	width: 50px;
	font-weight: bold;	
}

/* Day Header Working event */
.timesheet-report-day-header-events {
	margin: 5px;
	min-width: 300px;
	padding: 0px 10px 0px 10px;
	text-align:right;
	font-style:italic;
}

/* Row Settings for Events */
.timesheet-report-row-eHoliday, .timesheet-report-row-eVacation {
	background-color: #e0e0f1;
}

/* Row Settings for weekends */
.timesheet-report-row-dSun, .timesheet-report-row-dSat {
	background-color: #e3c3c3;	
}

/* ============ Dialog Content ============ */
#dialog-modify-record {
	text-align: center;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;	
	
}


